<ion-pane>
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons" ng-controller="goCtrl">
            <button class="button" ng-click='go("/home")'>
                <i class="icon ion-ios-home"></i>
            </button>
        </div>
        <h1 class="title">Responsáveis</h1>
        <div class="buttons" ng-controller="goCtrl">
            <button class="button" ng-click='go("/responsaveis/cadastro_responsaveis")'>
                <i class="icon ion-ios-plus-empty"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content>

    </ion-content>
    <ion-footer-bar class="bar-positive">
    </ion-footer-bar>
</ion-pane>