<ion-pane>
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons" ng-controller="goCtrl">
            <button class="button" ng-click='go("/home")'>
                <i class="icon ion-ios-home"></i>
            </button>
        </div>
        <h1 class="title">Configurações</h1>
        <div class="buttons" ng-controller="goCtrl">
            <button class="button" ng-click='go("/alunos/cadastro_alunos")'>
                <i class="icon ion-ios-plus-empty"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <button class="button button-full button-positive icon-left ion-android-settings">
                Adicionar Conceito </div>
            </button>
        </div>
        <div class="row padding-top">
            <button class="button button-full button-positive icon-left ion-android-settings">
                Configurar Tipo Avaliação 
            </button>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-positive">
    </ion-footer-bar>
</ion-pane>